* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  background: 
    linear-gradient(135deg, rgba(0, 119, 255, 0.6), rgba(0, 204, 102, 0.6)),
    url('./images/sorocaba.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
}

.container {
  max-width: 650px;
  width: 100%;
  background:rgba(68, 68, 68, 0.4) ;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(68, 68, 68, 0.4);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.subtitle {
  font-size: 1.1rem;
  margin-bottom: 25px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  min-width: 180px;
  display: inline-block;
  border: none; 
}
.btn:hover { opacity: 0.85; }
.blue { background-color: #40E0D0; }
.green { background-color: #40E0D0; }
.submit { background-color: #40E0D0; width: 100%;}
.submit:hover { background-color: #40E0D0; }

.form-group {
  margin-bottom: 20px;
  text-align: left;
}
.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.form-group textarea, 
.form-group select, 
.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 5px;
}

#preview {
  margin: 20px 0;
}
#preview img {
  max-width: 100%;
  border-radius: 10px;
  border: 2px solid #fff;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.step {
  flex: 1;
  min-width: 150px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.step h2 {
  color: #00ff88;
  margin-bottom: 10px;
}
.step p {
  font-size: 0.95rem;
}

#otherProblemGroup { display: none; }